[run]
# Measure only the code specified on the source folder (prevent deep scan into poetry bundled files)
# source = 
#     tools
#     rpi
        
# Restrict the scope of investigation during code coverage calculation time
# include = utils/*.py
# exclude = external

source = 
    provisioner_installers_plugin

omit = 
    */site-packages/*
    *external/*
    */loguru/*
    *_fakes.py
    *__init__.py
    *__main__.py
    */templates/*
    *_test.py
    *python_core_lib*
    *provisioner_features_lib*
    

[report]
omit = 
    */site-packages/*
    *external/*
    */loguru/*
    *__init__.py
    *__main__.py
    */templates/*
    *_test.py
    *python_core_lib*
    *provisioner_features_lib*
